<html>
<head>
    <script type="text/javascript" src="vendor/xmlToJSON.js"></script>
    <script type="text/javascript" src="vendor/angular.js"></script>
    <script type="text/javascript" src="vendor/angular-tree-control.js"></script>

    <script src="panel.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/tree-control.css">
</head>
<body ng-app="devTool">
<div class="dev-app" ng-controller="ElementsCtrl">
    <div class="tree">
        <treecontrol class="tree-light"
                     expanded-nodes="true"
                     tree-model="pageTree"
                     options="treeOptions"
                     on-selection="setCurrentItem(node)">
            {{node.type}}: {{node.name}}
        </treecontrol>
    </div>
    <div class="settings" ng-if="currentItem">
        <div class="details">
            <h4>Details</h4>
            <dl>
                <dt>Name:</dt>
                <dd>{{currentItem.name}}</dd>
                <dt>Type:</dt>
                <dd>{{currentItem.type}}</dd>
                <dt>Parent:</dt>
                <dd>{{currentItem.parent}}</dd>
                <dt>Context Item Name:</dt>
                <dd>{{currentItem.contextItemName}}</dd>
                <dt>Extended Item Name:</dt>
                <dd>{{currentItem.extendedItemName}}</dd>
            </dl>
        </div>
        <div class="preferences">
            <h4>Preferences</h4>
            <div ng-repeat="preference in currentItem.preferences">
                <dl>
                    <dt>Name: </dt>
                    <dd>{{preference.name}}</dd>
                    <dt>Label: </dt>
                    <dd>{{preference.label}}</dd>
                    <dt>Value: </dt>
                    <dd>{{preference.value}}</dd>
                    <dt>View Hint: </dt>
                    <dd>{{preference.viewHint}}</dd>
                </dl>
            </div>
        </div>
        <div class="tags" ng-show="currentItem.tags.length !== 0">
            <h4>Tags</h4>
            <div ng-repeat="tag in currentItem.tags">
                <dl>
                    <dt>Name: </dt>
                    <dd>{{tag.name}}</dd>
                    <dt>Type: </dt>
                    <dd>{{tag.type}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
</body>
</html>
