<html>
<head>
    <script type="text/javascript" src="vendor/angular.js"></script>
    <script type="text/javascript" src="vendor/angular-tree-control.js"></script>

    <script src="panel.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/tree-control.css">
</head>
<body ng-app="devTool">
<div class="dev-app" ng-controller="ElementsCtrl">
    <div class="tree">
        <div class="widget hbox filter-bar">
            <input type="text" class="filter-input-field" placeholder="Filter" ng-model="predicate"/>
            <button class="panel-btn" ng-click="collapseAll()">Collapse All</button>
            <button class="panel-btn" ng-click="expandAll()">Expand All</button>
        </div>

        <treecontrol class="tree-light"
                     expanded-nodes="expandedNodes"
                     tree-model="pageTree"
                     options="treeOptions"
                     selected-node="currentItem"
                     on-selection="setCurrentItem(node)"
                     filter-expression="predicate"
                     ng-mouseleave="highlightElement(currentItem)">
            <span class="item-tree-node">
                <span ng-mouseover="highlightElement(node)">
                    <span class="item-tree-node-type">{{node.type}}</span>: <span class="item-tree-node-name">{{node.name}}</span>
                </span>

                <span class="item-tree-node-buttons">
                    <button ng-click="selectElement(node)"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
                </span>
            </span>
        </treecontrol>
    </div>
    <div class="settings" ng-if="currentItem">
        <div class="details">
            <div class="sidebar-pane-title" ng-class="{expanded: expanded.details}" ng-click="expanded.details = !expanded.details">Details</div>
            <div class="sidebar-pane-content" ng-if="expanded.details">
                <div class="preferences-list">
                    <div class="preferences-list-item">
                        <div class="preference-name">Name:</div>
                        <div class="preference-value">{{currentItem.name}}</div>
                    </div>

                    <div class="preferences-list-item">
                        <div class="preference-name">Type:</div>
                        <div class="preference-value">{{currentItem.type}}</div>
                    </div>

                    <div class="preferences-list-item">
                        <div class="preference-name">Parent:</div>
                        <div class="preference-value">{{currentItem.parent}}</div>
                    </div>

                    <div class="preferences-list-item">
                        <div class="preference-name">Context:</div>
                        <div class="preference-value">{{currentItem.contextItemName}}</div>
                    </div>

                    <div class="preferences-list-item">
                        <div class="preference-name">Extended:</div>
                        <div class="preference-value">{{currentItem.extendedItemName}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="preferences">
            <div class="sidebar-pane-title" ng-class="{expanded: expanded.preferences}" ng-click="expanded.preferences = !expanded.preferences">Preferences</div>
            <div class="sidebar-pane-content" ng-if="expanded.preferences">
                <div class="preferences-list" ng-repeat="preference in currentItem.preferences">
                    <div class="preferences-list-item">
                        <div class="preference-name">Name: </div>
                        <div class="preference-value">{{preference.name}}</div>
                    </div>

                    <div class="preferences-list-item">
                        <div class="preference-name">Label: </div>
                        <div class="preference-value">{{preference.label}}</div>
                    </div>

                    <div class="preferences-list-item">
                        <div class="preference-name">Value: </div>
                        <div class="preference-value">{{preference.value}}</div>
                    </div>

                    <div class="preferences-list-item">
                        <div class="preference-name">View Hint: </div>
                        <div class="preference-value">{{preference.viewHint}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tags" ng-show="currentItem.tags.length !== 0">
            <div class="sidebar-pane-title" ng-class="{expanded: expanded.tags}" ng-click="expanded.tags = !expanded.tags">Tags</div>
            <div class="sidebar-pane-content" ng-if="expanded.tags">
                <div class="preferences-list" ng-repeat="tag in currentItem.tags">
                    <div class="preferences-list-item">
                        <div class="preference-name">Name: </div>
                        <div class="preference-value">{{tag.name}}</div>
                    </div>

                    <div class="preferences-list-item">
                        <div class="preference-name">Type:</div>
                        <div class="preference-value">{{tag.type}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
